body {
    background-color: #000;
    font-size: 35px;
    color: #fff;
}
#title {
    font-size: 45px;
    text-align: center;
    font-family: 'Times New Roman', serif;
    color: black;
    background-color: white;
    padding: 7px;
    margin: 30px;
    border-radius: 35px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

#board td {
    border: 2px solid #fff;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

a {
    text-decoration: none;
}
#navaigation {
    margin: auto;
    padding-left: 30px;
}
#navigation a {
    display: inline;
    padding: 10px 10px;
    margin-left: 30px;
    text-align: center;
    color: #fff;
}
#navigation a:hover {
    color: #ff0066;
}

#mode {
    font-size: 30px;
    font-family: courier;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}
#mode:hover {
    color: lime;
}

.score {
    margin-top: 15px;
}
.score td {
    font-size: 70%;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    text-align: center;
}

#time {
    font-size: 20px;
    font-family: monospace;
    color: #C0C0C0;
    position: fixed;
    width: 50%;
    margin-left: 20px;
}

/* div, p, td, tr {
    border: 1px solid #ff0066;
} */