<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024">
    <title>About</title>
</head>

<body>
    <div class="about overlay">
        <a id="home" routerLink="/home">Home</a>
        <ul>
            <li> 
                Hello there, i am <b> <i>dhiraj govindvira.</i> </b>
            </li>
            <li> 
                I am stuent at <span><a href="http://ddu.ac.in"> Dharmsinh Desai University </a> </span> currently in 5th semester. 
            </li>
            <li>
                <span> <a routerLink="/home"> Game Center </a> </span> is a online site in which you can play diffrent games at any time any where.
                <div>
                    currently only 2 simple games are supported TicTactoe and NPuzzle.
                </div>
            </li>
            <li>
                This project is the part of <b>Advanced Technology</b> subject.
            </li>
            <li>
                Technology used : html, css, javascript, angular, nodejs, bootstrap
            </li>
            <li>
                source code is avilable on github.
            </li>
         </ul>
    </div>
</body>

</html>