body {
    background-color: #000;
    font-size: 35px;
    color: #fff;
    padding: 0;
    margin: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#title {
    font-size: 45px;
    text-align: center;
    font-family: 'Times New Roman', serif;
    color: black;
    background-color: white;
    padding: 7px;
    margin: 30px;
    border-radius: 35px;
}
a {
    text-decoration: none;
}

table {
    margin: auto;
    border-collapse: collapse;
}

.cell {
    border: 2px solid #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    color: burlywood;
}

#board tr:first-child td {
    border-top: none;
}
#board tr:last-child td {
    border-bottom: none;
}
#board tr td:first-child {
    border-left: none;
}
#board tr td:last-child {
    border-right: none;
}

#navaigation {
    margin: auto;
    padding-left: 30px;
}
#navigation a {
    color: #fff;
    display: inline-block;
    margin-left: 30px;
    padding: 10px 10px;
    text-align: center;
}
#navigation a:hover {
    color: #ff0066;
}

#mode {
    font-size: 30px;
    font-family: courier;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}
#mode:hover {
    color: lime;
}

.score {
    margin-top: 15px;
}
.score td {
    font-size: 70%;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    text-align: center;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

#msg {
    font-family: courier;
    margin-top: 15px;
    text-align: center;
    color: #ff0066;
}

.win {
    opacity: 0 !important;
}